<body>

  <!-- Website Title -->
  <div class="container">
    <div class="box">
      <h1 class="text-center">News Team, Assemble!</h1>
    </div>
  </div>

    <!-- Dropdown menu for profiles -->
  <div class="dropdown text-center">
    <div class="dropdown btn-group">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Profiles
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Profile 1</a>
        <a class="dropdown-item" href="#">Profile 2</a>
        <a class="dropdown-item" href="#">Profile 3</a>
      </div>
    </div>
  </div>
  
  <!-- Search form with button -->
    <div class="input-group p-5 w-25 mx-auto">
      <input type="text" class="form-control" placeholder="Search for your news!" aria-label="Search for your news!"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
      </div>
    </div>

  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="script.js"></script>

</body>