<div class="container">
  <main class="row mt-4">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          Profile
        </div>
      </div>
    </div> 
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <h6 class="mb-0">Username</h6>
            </div>
            <div class="col-8 text-secondary">{{username}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-4">
              <h6 class="mb-0">Password</h6>
            </div>
            <div class="col-8 text-secondary">{{password}}</div>
          </div>
          <hr>
            <div class="row">
              <div class="col-4">
                <h6 class="mb-0">UserID</h6>
              </div>
              <div class="col-8 text-secondary">{{id}}</div>
           </div>
        </div>
      </div>
    </div>
     <div class="col-6 mx-auto mt-4">
      <div class="card mt-4">
        <div>
          <button id="init" type="submit" class="btn btn-block btn-outline-dark text-secondary">Begin Customization</button> 
        </div>
      </div>
    </div>  
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <hr>
    <p class="mb-1">&copy; NewsApp</p>
  </footer>
</div>
