<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node NewsApp</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/news_style.css">
</head>

	<body>
		{{{ body }}}
		
		{{!-- jQuery first, then Popper.js, then Bootstrap JavaScript, then user logic.js file --}}
    <script src="js/jquery.min.js"></script>
		<script src="js/popper.min.js"></script>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> --}}
    <script src="js/bootstrap.min.js"></script>
    {{!-- scrollspy jQuery functionality per Bootstrap documentation --}}
    {{!-- moment.js library added for date conversions --}}
    <script src="js/news.js"></script>
	</body>
</html>
