<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node Express NewsApp</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/news_style.css">
</head>

	<body>
		{{{ body }}}
		
		{{!-- jQuery first, (then Popper.js), then Bootstrap JavaScript, then user news.js file --}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{!-- scrollspy jQuery functionality per Bootstrap documentation --}}
    <script src="/js/moment.js"></script>
    <script src="/js/news.js"></script>
	</body>
</html>
